services:
  - type: web
    name: django-app
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python manage.py migrate
    startCommand: gunicorn ecom.wsgi:application
