services:
  - type: web
    name: django-app
    env: python
    plan: free

    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt

    startCommand: |
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn ecom.wsgi:application
