{% extends 'amazon/base_auth.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<h3 class="auth-title text-center mb-1">Create Account 🚀</h3>
<p class="auth-subtitle text-center mb-4">
    Join and start shopping
</p>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100 py-2">
        Register
    </button>
</form>

<div class="text-center mt-3">
    <small>
        Already have an account?
        <a href="{% url 'amazon:login' %}">Login</a>
    </small>
</div>

{% for message in messages %}
<div class="alert alert-danger mt-3">
    {{ message }}
</div>
{% endfor %}
{% endblock %}
