body {
    background-color: rgb(241, 239, 237);
}



.blog-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(242, 240, 240, 0.15);
}

.blog-card img {
    height: 200px;
    object-fit: cover;
}

.category-badge {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
}

.read-more {
    text-decoration: none;
    font-weight: 600;
    color: #ff9900;
}
